set editing-mode emacs
set completion-ignore-case on
set bell-style none
set show-all-if-ambiguous on
"\e[1;5D": backward-word
"\e[1;5C": forward-word
set completion-prefix-display-length 2
Control-j: menu-complete
Control-k: menu-complete-backward
set show-all-if-unmodified on
set completion-map-case on

$if Bash
    Space: magic-space
$endif
